{% extends 'admin/base.html.twig' %} {% import "macros/link.html.twig" as link %} {% import "macros/button.html.twig" as button %} {% block title %}Edit Modele CV{% endblock %} {% block body %}

<div class="row">
    <div class="col-lg-6">
        <div class="card card-outline card-success">
            <div class="card-header">
                <h3>Edition du modèle {{model_cv.id}}</h3>
            </div>
            {{form_start(form)}}
            <div class="card-body">
                {{form_row(form.designation)}} {{form_row(form.prix)}} {{form_row(form.createur)}}
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="btn-group">
                        {{link.back(path('model_index'))}} {{button.update()}}
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="card-footer"></div>
            {{form_end(form)}}
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card card-outline card-success">
            <div class="card-header">
                <h3>Image du modèle {{model_cv.id}}</h3>
            </div>
            <div class="card-body">
                {{ form_start(formImage) }}
                <div class="row">
                    <div class="col-lg-12">
                        <div id="show_preview">
                            <img id="hold_img" src="{{ asset('img/modeles/' ~ model_cv.image) }}" alt="" style="height: auto;max-width:400px">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{form_row(formImage.image)}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="btn-group">
                            {{ link.back(path('model_index'))}} {{button.update()}}
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                {{form_end(formImage)}}
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>
<style>
    #hold_img {
        display: block;
        margin: auto;
    }
    
    #show_preview {
        height: auto;
        width: 400px;
        *background: #000;
        justify-content: center;
        position: relative;
        margin: auto;
        *border: rgb(12, 1, 34) solid 2px;
    }
    
    #show_preview2 {
        height: auto;
        width: 400px;
        *background: #000;
        justify-content: center;
        position: relative;
        margin: auto;
        *border: rgb(231, 35, 162) solid 2px;
    }
</style>
{% endblock %} {% block javascripts %}
<script>
    $(document).ready(function() {
        /*******lire une image avant insertion *********/
        function previewFile(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#show_preview + img').remove();
                    $('#show_preview').after('<div id="show_preview2"><img  style="height: auto;max-width: 400px"  src="' + e.target.result + '" /></div>');
                }
                reader.readAsDataURL(input.files[0]);

            }
        }
        /*******************END LECTURE IMAGE****************************/
        $("#model_cv_type3_image").change(function() {
            previewFile(this);
        })
        $("#model_cv_type3_image").change(function() {
            $("#hold_img").hide(500);
        })

    })
</script> {% endblock %}