{% extends 'admin/base.html.twig' %}
{% import "macros/link.html.twig" as link %}
{% import "macros/dataTable.html.twig" as dataTable %}
{% import "macros/alertes.html.twig" as alert %}
{% block title %}Modele CV
{% endblock %}
{% block head %}
	{{ dataTable.css()
}}
{% endblock %}
{% block foot %}
	{{ dataTable.js() }}
{% endblock %}
{% block javascripts %}
	{{ dataTable.script('#table-1') }}

{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-md-12 col-12">
			<div class="card card-outline card-blue">
				<div class="card-header">
					<div class="card-title">Create CV Modele</div>
				</div>
				<div class="card-body">
					{{ link.add(path('model_new'),'Create new') }}
                    <hr>
					<table class="table" id="table-1">
						<thead>
							<tr>
								<th>Designation</th>
								<th>Prix</th>
								<th>Created at</th>
								<th>actions</th>
							</tr>
						</thead>

						<tbody>
							{% for model_cv in model_cvs %}
								<tr>
									<td>#{{ model_cv.id }} 
									<a class="img-popup-link" href="{{ asset('img/modeles/' ~ model_cv.image) }}">
									{{ model_cv.designation }}
                            		</a>
									
									</td>
									<td>{{ model_cv.prix| number_format(0,'',' ') }} {{ site.current_name}}</td>
									<td>{{ model_cv.createdAt |date_format_fr | capitalize}}</td>
									<td>
										{{link.show(path('model_show', {'id': model_cv.id}))}}
										{{link.edit(path('model_edit', {'id': model_cv.id}))}}
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="6">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<hr>
					{{ link.back(path('admin'),'back to dashoard') }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
