{% extends "admin/base.html.twig" %}
{% import "macros/button.html.twig" as btn %}
{% import "macros/link.html.twig" as link %}
{% block title %}
    Edit Experience Professionnelle 
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="card card-outline card-success">
                <div class="card-header">
                    Expérience Sélectionnée:                         
                    {{ experience.posteOccupe }}
                    &nbsp;                                                                 
                </div>
                {{ form_start(form) }}
                <div class="card-body">
                    <div class="form-group">
                        {{ form_row(form.posteOccupe) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.nomEntreprise) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.anneeOccupation) }}
                    </div>
                    <div class="btn-group" role="group">
                        {% if is_granted('ROLE_ADMIN') %}
                        {{ link.back(path('cv_edit',{'id':userForcv.id})) }}
                        {% elseif is_granted('ROLE_USER') %}
                        {{ link.back(path('cv_edit_client',{'id':userForcv.id})) }}
                        {% endif %}
                        {{ btn.update() }}
                    </div>
                </div>
                {{ form_end(form) }}
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-outline card-success">
                <div class="card-header">
                    Liste Des Taches Effectuées                                    
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Description                                                                                                                                                  
                                </th>
                                <th scope="col">
                                    Actions                                                          
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tache in experience.taches %}
                                <tr>
                                    <td>
                                        {{ tache.description }}
                                    </td>
                                    <td>
                                        {% if is_granted('ROLE_ADMIN') %}
                                        {{ link.edit(path('cv_edit_tache_experience',{'id':userForcv.id,'id_exp':experience.id,'id_tache':tache.id})) }}
                                        {% elseif is_granted('ROLE_USER') %}
                                        {{ link.edit(path('cv_edit_tache_experience_client',{'id':userForcv.id,'id_exp':experience.id,'id_tache':tache.id})) }}
                                        {% endif %}
                                        <button class="btn btn-sm btn-danger del_tache" data-delete="{{ tache.id }}"
                                        data-path="{{is_granted('ROLE_ADMIN') ? path("del_tache_experience",{"id":userForcv.id}) : path("del_tache_experience_client",{"id":userForcv.id}) }}"
                                        >
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td class="text-center w-100" >
                                        No Records Found
                                                                        
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br>
                        <h3>
                            Voulez-vous ajouter une nouvelle Tache ?                                          
                        </h3>
                        {{ form_start(RepTache) }}
                        <div class="row">
                            {{ form_row(RepTache.reponse) }}
                            {{ form_row(RepTache._token) }}
                            <div class="col-md-12">
                                <div id="show_tache">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">
                                                    description                                                                                                                                                  </th>
                                                <th scope="col">
                                                    action                                                                                             
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="affiche_tache">{# coming some place #}
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4">
                                            <div class="btn-group">
                                                <a href="#" class="btn btn-success add_tache"
                                                data-path="{{is_granted('ROLE_ADMIN') ? path("cv_edit_exp",{"id":userForcv.id,"id_exp":experience.id}) : path("cv_edit_exp_client",{"id":userForcv.id,"id_exp":experience.id}) }}"
                                                >
                                                    +                                                                                                                                                                                                                                                 
                                                </a>
                                                {{ btn.add() }}
                                            </div>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_end(RepTache) }}
                    </div>
                    <div class="card-footer">
                        {% if is_granted('ROLE_ADMIN') %}
                        {{ link.back(path('cv_edit',{'id':userForcv.id})) }}
                        {% elseif is_granted('ROLE_USER') %}
                        {{ link.back(path('cv_edit_client',{'id':userForcv.id})) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block javascripts %}
        <script>
    $(document).ready(function() {
        $(".del_tache").click(function() {
            id = $(this).data("delete");
            let pathDelTask = $(this).data('path');
            if (!isNaN(id)) {
                if (id != null && id != 0) {
                    if (confirm("Voulez Vous supprimer cette tache ?")) {
                        $.ajax({
                            url: pathDelTask,
                            method: 'POST',
                            dataType: 'JSON',
                            data: {
                                idTac: id
                            },
                            success: function(data) {

                                if (data === "ok") {
                                    alert("Tache supprimée correctement");
                                    window.location.href = "";
                                } else {
                                    alert("Suppression Impossible :(");
                                }
                            }
                        })
                    }
                }
            }
        });
        /********** Add and Remove part*********************/
        $(".add_tache").click(function() {
            addTache();
        });
        $(document).on("click", ".remove_tache", function() {
            $(this).closest('tr').remove();
        });
        $("#show_tache").hide(500);
        $("#rep_tache_reponse_0").click(function() {
            $("#show_tache").show(500);
        });
        $("#rep_tache_reponse_1").click(function() {
            $("#show_tache").hide(500);
        });
        /****** Part function **/
        addTache();

        function addTache() {
            let path = $(this).data('path');
            $.ajax({
                url: path,
                method: 'POST',
                dataType: 'JSON',
                data: {
                    tache: 1
                },
                success: function(data) {
                    $('#affiche_tache').append(data);
                }
            })
        }
    })
</script>
{% endblock %}
    